{:paths ["dev"]

 :tasks
 {:requires [[utils]]

  version            {:task (utils/print-version)}

  release-major      {:task (utils/bump-major)}

  release-minor      {:task (utils/bump-minor)}

  release-patch      {:task (utils/bump-patch)}}}
