{:deps true

 :dev-http {9999 "public"}

 :builds
 {:app
  {:target :browser
   :modules {:app {:init-fn app.core/init}}
   :build-hooks [(stylo.shadow/reload "public/out/stylo/css/stylo.css")
                 (stylo.shadow/add-version-env "public/out/app.js")]
   :output-dir "public/out" 
   :compiler-options {:infer-externs :auto}

   :dev
   {:devtools {:after-load app/render}
    :compiler-options {:optimizations :none}}}}}
